page-home {

}
.box{
  height: 100%;
}
ion-slides{
  height: 100vh !important;
}

$base-color: #c24;
$num-colors: 10;

@for $i from 0 to $num-colors {
  .bgColor_#{$i} {
    background-color: adjust-hue($base-color, 360deg / $num-colors * $i);
  }
}
